
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#soccerB{
	background-image: url("field.jpeg");
	background-size: cover;
}
.heading{
	color : white;
}

#wrestlingDiv {
	display: none;
	background-color: gainsboro;
	background-size: 450px 100px;
  	border: 1px solid black;
  	padding: 50px;
  	margin: 20px;
} 

 .carousel-control-prev-icon, .carousel-control-next-icon {
 background-color: black;
 }
 
 .carousel-indicators{
 background-color:black;
 background-size: 100px 25px;
 }


#soccerDiv {
	display: none;
	background-color: gainsboro;
	background-size: 450px 100px;
  	border: 1px solid black;
  	padding: 10px;
  	margin: 20px;
} 


.imgHeight{
	height: 375px;
}



.hiddenCaro{
	display: none;
}


 p{
  	font-family: "Times New Roma", serif;
  		
}

h1{
	font-family: "Times New Roman", serif;
}

h2 {
	font-family: "Times New Roman", serif;
}

a:link {
  color: blue;
}

a:visited {
  color: orange;
}

a:hover {
  color: hotpink;
}

a:active {
  color:gray ;
}

h3 {
	font-family: "Times New Roman", serif;

}

#footballfield{
	background-image: url("Football Field.jpeg");
	background-size: cover;
}

.carousel-item {
margin-left: 25%; 
margin-right: auto;
}



