

#soccerB{
	background-image: url("field.jpeg");
	background-size: cover;
	background-attachment: fixed;
	
}
#basketballB{
	background-image: url("basketBG.webp");
	background-size: cover;
	background-attachment: fixed;
	
}
.padding{
	padding: 20px;
}
.heading{
	color : white;
}

#wrestlingDiv {
	display: none;
	background-color: gainsboro;
	background-size: 450px 100px;
  	border: 1px solid black;
  	padding: 50px;
  	margin: 20px;
} 

 .carousel-control-prev-icon, .carousel-control-next-icon {
 background-color: black;
 }
 
 .margin{
 margin: 20px;
 }
 
 .carousel-indicators{
 background-color:black;
 background-size: 100px 25px;
 }


#soccerDiv {
	display: none;
	background-color: gainsboro;
	background-size: 450px 100px;
  	border: 1px solid black;
  	padding: 10px;
  	margin: 20px;
} 






.hiddenCaro{
	display: none;
}

nav{
	margin: 0px;
	padding: 0px;
}

 p{
  	font-family: "Times New Roma", serif;
  		
}

h1{
	font-family: "Times New Roman", serif;
}

h2 {
	font-family: "Times New Roman", serif;
}





h3 {
	font-family: "Times New Roman", serif;

}

#footballfield{
	background-image: url("football-field.jpeg");
	background-size: cover;
	background-attachment: fixed;
}

#wrestlingmat{
	background-image: url("Wrestling-Mat.jpeg");
	background-size: cover;
}

#homepage{
	background-image: url("background.jpg");
 	background-size: cover;
 	background-attachment: fixed;
}

.carousel-item {
margin-left: 25%; 
margin-right: auto;
}



