body{
 background-image: background.jpg; 
  
}
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


div {
	display: none;
	background-color: cornflowerblue;
	background-size: 450px 100px;
  	border: 10px solid black;
  	padding: 50px;
  	margin: 20px;
} 

img {
	width: 300px;
  	border: 15px solid black;
  	padding: 50px;
  	margin: 20px;
}


 p{
  	font-family: "Times New Roma", serif;
  		
}

h1{
	font-family: "Times New Roman", serif;
}

h2 {
	font-family: "Times New Roman", serif;
}

a:link {
  color: blue;
}

a:visited {
  color: orange;
}

a:hover {
  color: hotpink;
}

a:active {
  color:gray ;
}

h3 {
	font-family: "Times New Roman", serif;
}